MONGODB_URI=add_your_mongodb_connection_string_here

OPENROUTER_API_KEY=add_your_openrouter_api_key_here
OPENROUTER_MODEL=openrouter/free

GROQ_API_KEY=add_your_groq_api_key_here
GROQ_MODEL=openai/gpt-oss-20b
